name: Commit sites to storybook-pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  new_version: "v5"

# Sets permissions of the GITHUB_TOKEN to allow commit and push

permissions: write-all

concurrency:
  group: "update pages"
  cancel-in-progress: true

jobs:
  # we could make it only deploy a newer storybook for major/minor version release
  # upload sites folder as artifact
  upload-sites:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: ls -la

      - name: Save folder as artifact
        uses: actions/upload-artifact@v3
        with:
          name: site-folder
          path: ./taskbox/storybook-static

  get-aritifact:
    runs-on: ubuntu-latest
    needs: upload-sites
    steps:
      - run: echo ${{ github.repository }}
      # log github workspace
      - run: echo ${{ github.workspace }}

      # - name: Checkout repo storybook-pages
      #   uses: actions/checkout@v3
      #   with:
      #     repository: yzhou-willow/storybook-pages
      #     token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout repo storybook-pages
        run: |
          git clone https://${{ secrets.GITHUB_TOKEN }}@github.com/yzhou-willow/storybook-pages.git
          cd storybook-pages
          ls -la

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: site-folder
          path: ./storybook-pages/sites/${{env.new_version}}
      - run: ls -la

      - name: Commit changes to storybook-pages with github authorization
        run: |
          cd storybook-pages
          git config --global user.name 'yzhou-willow'
          git config --global user.email 'yzhou-willow@test.com'
          git add .
          git commit -m "Update site folder"
          # git remote set-url origin https://yzhou-willow:${{ secrets.PAT_FOR_STORYBOOK }}@github.com/yzhou-willow/storybook-pages.git
          #echo "https://yzhou-willow:${{ secrets.PAT_FOR_STORYBOOK }}@github.com/yzhou-willow/storybook-pages.git"
          #git remote set-url origin https://${{ secrets.PAT_FOR_STORYBOOK }}@github.com/yzhou-willow/storybook-pages.git

      - name: Update latest version path in index.html
        run: |
          ls -la
          cd storybook-pages/sites
          ls -la

          # get last version
          start='<meta http-equiv="refresh" content="0; url=./'
          end='">'
          pattern="${start}\([^${end}]*\)${end}"
          echo "last_version=$(sed -n "s#${pattern}#\1#p" index.html)" >> $GITHUB_ENV

          if [ -z "${{ env.last_version }}" ]; then
            echo "Error: No matched previous version found"
            # exit 1
          fi

          # replace latest version path
          echo "log: ${{ env.last_version }}"
          sed -i '' -e 's/${{ env.last_version }}/${{env.new_version}}/g' index.html

          if [[ -n $(git status -s index.html) ]]; then
            echo "index.html updated scuccessfully"
          else
            echo "Error: index.html not updated"
            exit 1
          fi

          # commit changes
          git add .
          git commit -m "Update latest version path in index.html"
          git push
