name: Commit sites to storybook-pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  new_version: "v9"

# Sets permissions of the GITHUB_TOKEN to allow commit and push

permissions: write-all

concurrency:
  group: "update pages"
  cancel-in-progress: true

jobs:
  mock-build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "new_version=${{ env.new_version }}" >> $GITHUB_OUTPUT

  # we could make it only deploy a newer storybook for major/minor version release
  # upload new site folder as artifact
  upload-site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: ls -la

      - name: Save folder as artifact
        uses: actions/upload-artifact@v3
        with:
          name: storybook
          path: ./taskbox/storybook-static

  call-workflow:
    needs: [upload-site, mock-build]
    permissions: write-all
    uses: ./.github/workflows/reusable.yml
    with:
      who-to-greet: "@yzhou-willow"
      newer-version: ${{ needs.mock-build.outputs.new_version }}

  # download-site:
  #   needs: upload-site
  #   permissions: write-all
  #   uses: ./.github/workflows/release.yml
  #   with:
  #     new_version: "v9"
